@import 'variables.scss';
/* scss de la navbar*/

.navbar {
    background-color: #004059 !important;
}

.nav-link {
    color: $color2 !important;
}

.nav-item{
    font-size: 1.6em;
    font-family: $font2 !important;
    letter-spacing: 0.2em;
}

.nav-logo{
    width: 150px !important;
    height: auto;
}

.navbar-toggler {
    background-color: $color2 !important;
}

.current {
    color: $color3 !important;
}
