@import 'variables.scss';

/*scss section home page accueil*/

/*pagination nav*/
.pagination-nav {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: auto !important;
}

/*posts*/

.post-preview{
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;

    .row{

        .post-brand {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            .post-title{
                width: 40%;
                height: auto;
                margin: auto;
            }
            .post-category {
                width: 50%;
                height: auto;
                margin: auto;
            }
        }

        .post-body {
            display: flex;
            flex-direction: row;

            .post-img {
                width: 40%;
                height: auto;
                margin: auto;
            }


            .post-content{
                width: 60%;
                height: auto;
                margin: auto;

                .post-btn {

                }

                .post-article {
                    width: 80% !important;
                    width: auto;
                }
            }
        }
    }
}
